body {
    background-image: url(../assets/burgundy_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.box1{
    position:absolute;
    display:inline-block;
    height: 130px;
    width: 300px;
    top:13px;
    box-shadow: 300px 0px 134px rgb(90, 18, 0);
    transform: translateX(-99%);
    
}

.box2{
    background-color:aqua;
    text-align:right;
    position:absolute;
    display:inline-block;
    height: 130px;
    width: 300px;
    top:13px;
    box-shadow: -300px 0px 134px rgb(90, 18, 0);
    transform: translateX(620%);

}

h1 {
    text-align: center;
    margin-top: 0px;
    background-color: #800020;
    color: gold;
    padding: 1rem;
    font-size: 5rem;
    font-family: 'Cormorant Garamond';
    font-weight: 5;
    border-style: solid;
    border-width: 6px;
    text-shadow: 6px 6px 35px gold;
    border-left-width: 0px;
    border-right-width: 0px;
}

img {
    display: inline-block;
}

.Images {
    text-align: center;
}

.food {
    margin: 20px;
}

#chicken {
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    padding: 8px;
    color: gold;
    box-shadow: 20px 20px 120px rgba(0, 0, 0, 0.400), -20px -20px 120px rgba(0, 0, 0, 0.400); 
}

#rice {
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    padding: 8px;
    color: gold;
    box-shadow: 20px 20px 120px rgba(0, 0, 0, 0.400), -20px -20px 120px rgba(0, 0, 0, 0.400); 
}

#paneer {
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    padding: 8px;
    color: gold;
    box-shadow: 20px 20px 120px rgba(0, 0, 0, 0.400), -20px -20px 120px rgba(0, 0, 0, 0.400); 
}

.description{
    display: block;
    color: gold;
    text-align: center;
}

.watermark {
    display: block;
    text-align :center;
    color: gold;
    margin-top: 200px;
    margin-bottom: 0px;

}

a {
    color: #977E80;
}