body {
    background-image: url(../assets/burgundy_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}



h1 {
    text-align: center;
    margin-top: 0px;
    background-color: #800020;
    color: gold;
    padding: 1rem;
    font-size: 5rem;
    font-family: 'Cormorant Garamond';
    font-weight: 5;
    border-style: solid;
    border-width: 6px;
}

img {
    display: inline-block;
}

.Images {
    text-align: center;
}

.food {
    margin: 20px;
}

#chicken {
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    padding: 8px;
    color: gold;
}

#rice {
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    padding: 8px;
    color: gold;
}

#paneer {
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    padding: 8px;
    color: gold;
}


